* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* Header and menu styles start */
.header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 70px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;

}

.burger {
    height: 17px;
    width: 20px;
    border: none;
    background-color: #fff;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 28px;
    cursor: pointer;
}

.burger-line {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #1F2022;
    border-radius: 20px;
}

.logo {
    margin-right: 59px;
}

.input-group {
    background: #EBEBEB;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
}

.input-search {
    width: 100%;
    background-color: transparent;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
}

.button-search {
    width: 19px;
    height: 19px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.icon-search {
    fill: #000;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.icons-link {
    text-decoration: none;
    opacity: 0.24;
}

.icons-link:hover {
    opacity: 0.7;
}

.icons-link:not(:last-child) {
    margin-right: 50px;
}

.user {
    margin-left: 45px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar {
    padding-left: 32px;
    position: fixed;
    left: 0;
    top: 114px;
    height: calc(100% - 114px);
    overflow-y: auto;
    width: 16%;
    background-color: #fff;
}

.nav-menu {
    margin-top: 0;
    /* margin-bottom: 58px; */
    padding-left: 0;
    list-style-type: none;

}

.nav-item {
    margin-bottom: 29px;
}

.nav-item .icon {
    fill: #000;
    opacity: 24%;
}

.nav-text {
    margin-left: 13px;
    color: #898989;
}

.nav-text:hover {
    color: #FF0000;
}

.nav-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-link:hover .icon {
    fill: #FF0000;
    opacity: 100%;
}


.nav-image {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.nav-title {

    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
    margin-top: 67px;
}

.nav-item2 {
    margin-top: 23px;
}

.nav-item2 .icon {
    fill: #000;
    opacity: 24%;
}

#nav-library {
    margin-top: 60px;
}

#nav-setting {
    margin-top: 104px;
}



/* Header and menu styles end */

/* Main styles start */
.channel {
    position: relative;
    margin-bottom: 49px;
    margin-left: 15px;
}

.channel-title {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
    width: 70%;
}

.recommended-title {
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
    margin: 0;
}

.channel-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.channel-text {
    margin-left: 12px;

}

.video-card {
    width: 376px;
}

.video-thumb {
    width: 100%;
    height: 213px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 3px 9px;
}

.video-title {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    /* identical to box height */

    color: #19202C;
    margin-top: 10px;
    margin-bottom: 4px;
}

.video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: #C2C2C2;

}

.video-counter {
    display: flex;
}

.video-views {
    margin-right: 5px;
}

.video-views::after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #C2C2C2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.channel-button {
    cursor: pointer;
}

.slider-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
    margin-right: 8%;
}

.recommended-slider .video-card {
    width: 540px;
}

.recommended-slider .video-thumb {
    height: 300px;
}

.food-avatar {
    object-fit: cover;
}

.recommended-channel-subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
    margin-left: 19px;
}

.channel-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.subscribe {
    background: #FF0000;
    border-radius: 20px;
    border: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 20px;
    position: absolute;
    left: 1289px;
    bottom: -27px;
}

.content {
    width: 100%;
    margin-top: 85px;
    padding-left: 4.17%;
    padding-top: 7.83px;
}


















.video {
    max-width: 1363px;
    height: 804px;
    margin: 0;
}



/* Main styles end */

.swiper-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.recommended-channel-slider {
    position: absolute;
    left: 77.24%;

    top: 7.83%;
    width: 367px;
    height: 1325px;
    margin-top: 18px;
    margin-left: 13px;

}

.mobile-sidebar {
    display: none;
}

.mobile-search {
    display: none;
}






.my-channel-slider .video-thumb {
    width: 1363px;
    height: 700px;
}

.time {
    position: absolute;
    height: 28px;
    left: 33px;
    top: 564px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.time-2 {
    position: absolute;
    height: 28px;
    left: 1272px;
    top: 564px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.bar {
    position: absolute;
    left: 33px;
    top: 612px;
}

.vid-icons {
    position: absolute;
    top: 643px;
}

#player-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    color: #C2C2C2;
}

.likes {
    position: absolute;
    left: 1055px;
}

.line {
    width: 1363px;

    border-bottom: 1px solid rgba(216, 216, 216, 0.5);
    margin-top: 20px;
    margin-bottom: 38px;
}

.food {
    max-width: 912px;
    height: 195px;
}

.chanell-subtext {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #C2C2C2;
    margin: 0;
    margin-left: 12px;
    margin-top: 4px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
}

.text-video {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.6;
    margin: 0;
    margin-left: 92px;
}

.show-more {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    color: #C2C2C2;
    margin-left: 92px;
}

#video-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;

    color: #192646;
    width: 570px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 14px;
}



.next {
    margin-bottom: 25px;
}

.autoplay {
    position: absolute;
    left: 219px;
    margin-top: 16px;
}

.mobile-ikons {
    display: none;
}

.mobile-food {
    display: none;
}





@media (max-width: 860px) {
    .icons {
        display: none;
    }

    .user {
        margin-left: auto;
    }

    .burger {
        display: none;
    }

    .channel-header {
        display: none;
    }

    #share {
        display: none;
    }
}

@media (max-width: 640px) {

    .my-channel-slider .video-card {
        width: 540px;
    }

    .recommended-channel-slider .video-card {
        width: 540px;
    }





    .swiper-wrapper {
        display: flex;
        flex-direction: column;
    }

    .swiper-slide {
        margin-bottom: 30px;
    }

    .video-thumb {
        height: 380px;
    }

    .slider-buttons {
        display: none;
    }

    .mobile-search {
        display: block;
        margin-left: auto;
    }

    .user {
        margin-left: 20px;
    }

    .input-group {
        position: fixed;
        top: -100px;
        left: 0;
        opacity: 0;
        width: 68%;
        margin-left: 25px;
        transition: top 0.2s;
    }

    .input-group.is-open {
        opacity: 1;
        top: 20px;
    }

    .menu-button {
        display: none;
    }

    .sidebar {
        display: none;
    }



    .mobile-sidebar {
        display: block;
        position: fixed;
        z-index: 99;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
    }

    .mobile-sidebar .nav-link {
        display: flex;
        flex-direction: column;
    }

    .mobile-sidebar .nav-menu {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 13px;
        padding-bottom: 11px;
        border-top: 1px solid#F1F1F1;
    }

    .nav-text {
        margin-left: 0;
        font-size: 10px;
        line-height: 13px;
    }

    .nav-item {
        margin-bottom: 0;
    }






    .video {
        max-width: 640px;
        height: 600px;
        margin: 0;
    }

    .my-channel-slider .video-thumb {
        max-width: 580px;
        height: 380px;
    }

    .recommended-channel-slider {
        position: static;
        left: 77.24%;

        top: 7.83%;
        width: 367px;
        height: 1325px;
        margin-top: 18px;
        margin-left: 13px;

    }

    .likes {
        position: absolute;
        left: 10px;
        bottom: 90px;
    }


    .mobile-ikons {
        display: block;
    }

    #time1 {
        position: absolute;
        height: 28px;

        font-family: 'Mulish';
        font-weight: 400;
        font-size: 14px;
        line-height: 13px;
        /* identical to box height */

        color: #FFFFFF;
        top: 325px;
        left: 70px;
        z-index: 2;
    }

    #time2 {
        position: absolute;
        height: 28px;

        font-family: 'Mulish';
        font-weight: 400;
        font-size: 14px;
        line-height: 13px;
        /* identical to box height */

        color: #FFFFFF;
        top: 325px;
        left: 470px;
        z-index: 2;
    }

    #pause {
        position: absolute;
        top: 325px;
        left: 40px;
        z-index: 2;
    }

    #rectangle {
        position: absolute;
        top: 300px;
        left: 15px;
    }

    #mob-bar {
        position: absolute;
        top: 327px;
        left: 45px;
        z-index: 2;

    }

    #volume {
        position: absolute;
        top: 325px;
        left: 530px;
    }

    .mobile-food {
        display: block;
        max-width: 580px;
        height: 122px;
        border-top: 1px solid rgba(216, 216, 216, 0.5);
        border-bottom: 1px solid rgba(216, 216, 216, 0.5);

        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }

    .food {
        display: none;
    }

    .line {
        display: none;
    }

    .sub-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        /* identical to box height */
        text-align: center;

        color: #FF0000;
        margin-top: 35px;
        margin-right: 30px;
    }

    .autoplay {
        position: absolute;
        left: 419px;
        margin-top: 16px;
    }
}